@charset "utf-8";
/* CSS Document */

.b-1{margin-left:9px;}
#content .link .link-bd{_height:50px;}
#logo-ct .quick-enter a{ padding-top:2px;_height:24px;}
#content .title{padding-top:2px;}
#content .ct-ft .ct-ft-hd{_height:4px;}
#ad-bd iframe{_border:0}
#manager .content .count{ _margin-bottom:50px; _padding-top:25px;}
